
#dashboard
  main
    padding-left: 19rem
    max-width: initial

  #side
    position: fixed
    left: 0
    top: 0
    height: 100vh
    padding: 1rem
    padding-top: 4rem
    form
      padding: 0

  @include phone
    main
      padding-left: initial
      max-width: initial
    #side
      display: none
